@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap");
* {
  font-family: "Rubik", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

body .overlay {
  background: black;
  position: absolute;
  z-index: -10;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar {
  padding-left: 20px;
  padding-right: 20px;
  background: #95c6cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-links li {
  padding: 20px;
  list-style: none;
  border-radius: 10px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  margin: 5px;
}

.navbar .nav-links li:hover {
  background: #024a544f;
}

.navbar .nav-links li a {
  text-decoration: none;
  color: black;
}

.container-files {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-files #cargar {
  margin-top: 20px;
  padding: 20px;
  margin-bottom: -20px;
  background: #024b54;
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.container-files #cargar:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
}

.container-files .container {
  border: none !important;
}

.container-files .files {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  overflow-x: hidden;
  border: 1px solid rgba(0, 0, 0, 0.288);
}

.container-files .files a {
  color: #024b54;
}

.container-files .files p {
  margin: 20px;
}

.container a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container h2 {
  text-align: center;
  margin-top: 20px;
  color: #024b54;
}

.container .departamentos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .departamentos .departamento {
  border: 1px solid rgba(0, 0, 0, 0.247);
  height: 100px;
  width: 400px;
  margin: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container .departamentos .departamento:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.329);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.329);
}

.contenedor {
  height: 100vh;
  font-family: "Rubik", sans-serif;
  background: #95c6cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor .img {
  width: 50%;
  background: #95c6cc;
}

.contenedor .img img {
  -webkit-transform: translate(70px);
          transform: translate(70px);
}

.contenedor .formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 50%;
  background: white;
}

.contenedor .formulario .datos {
  border: 1px solid rgba(0, 0, 0, 0.24);
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  border-radius: 10px;
}

.contenedor .formulario .datos .header {
  font-family: "Rubik", sans-serif;
  background: #024b54;
  border-radius: 10px 10px 0 0;
  height: 100px;
  padding: 20px;
  font-size: 23px;
  color: white;
}

.contenedor .formulario .datos .header h2 {
  font-weight: 500;
}

.contenedor .formulario .datos .form-fields {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedor .formulario .datos .form-fields .btn-submit {
  background: #024b54;
  padding: 10px;
  width: 150px;
  margin-top: 20px;
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  outline: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.contenedor .formulario .datos .form-fields .btn-submit:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
}

.contenedor .formulario .datos .form-fields .fields {
  border-radius: 10px;
  background: rgba(128, 128, 128, 0.144);
  margin: 20px;
  display: block;
  border: none;
}

.contenedor .formulario .datos .form-fields input[type="text"],
.contenedor .formulario .datos .form-fields input[type="password"] {
  font-family: "Rubik", sans-serif;
  outline: none;
  width: 85%;
  color: black;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 6px 8px;
  padding: 12px 20px 12px 40px;
}

.contenedor .formulario .datos .form-fields input[type="text"]:hover,
.contenedor .formulario .datos .form-fields input[type="password"]:hover {
  background-color: rgba(128, 128, 128, 0.212);
}

.contenedor .formulario .datos .form-fields input[type="text"] {
  background-image: url("./assets/user-gray.png");
}

.contenedor .formulario .datos .form-fields input[type="password"] {
  background-image: url("./assets/locked-padlock-gray.png");
}

.modal {
  width: 400px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: white;
  border-radius: 5px;
  position: absolute;
  padding: 20px;
  z-index: 199;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}

.modal #aceptar,
.modal #cancelar,
.modal label {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background: #024b54;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
}

.modal #cancelar {
  background: #bd3232 !important;
}

.modal input[type=file] {
  display: none;
}
/*# sourceMappingURL=style.css.map */